# OS X Finder
.DS_Store
*.moved-aside
# Xcode per-user config
*.mode1
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspective
!default.perspective
*.perspectivev3
!default.perspectivev3
*.pbxuser
!default.pbxuser
project.xcworkspace
!default.xcworkspace
xcuserdata
profile
# Build products
build/
*.o
*.LinkFileList
*.hmap
# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

